# 抓取個股歷史股價 (pandas-datareader)

## 載入需要的模組

### 請確認有安裝 pandas_datareader

```bash
pip install pandas-datareader
```

In [1]:
from datetime import datetime
import pandas_datareader.data as web

## 設定資料的起始範圍

In [2]:
start = datetime(2016, 1, 1)
end = datetime(2018, 12, 31)

## 讀取個股歷史資料

In [3]:
df = web.DataReader('3008.tw', "yahoo", start, end)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 731 entries, 2016-01-04 to 2018-12-28
Data columns (total 6 columns):
High         731 non-null float64
Low          731 non-null float64
Open         731 non-null float64
Close        731 non-null float64
Volume       731 non-null float64
Adj Close    731 non-null float64
dtypes: float64(6)
memory usage: 40.0 KB

In [5]:
df['2018-6-1':'2019-2-10']

              High     Low    Open   Close     Volume    Adj Close
Date
2018-06-01  4270.0  4110.0  4110.0  4245.0   671207.0  4175.917480
2018-06-04  4460.0  4280.0  4280.0  4415.0   924953.0  4343.150879
2018-06-05  4520.0  4355.0  4420.0  4450.0   839084.0  4377.581543
2018-06-06  4690.0  4550.0  4690.0  4625.0  1445824.0  4549.733398
2018-06-07  4680.0  4575.0  4650.0  4645.0   623495.0  4569.407715
2018-06-08  4745.0  4545.0  4650.0  4545.0   713223.0  4471.035156
2018-06-11  4590.0  4450.0  4550.0  4550.0   552395.0  4475.954102
2018-06-12  4580.0  4440.0  4580.0  4440.0   456758.0  4367.744141
2018-06-13  4735.0  4580.0  4665.0  4730.0   975333.0  4653.024902
2018-06-14  4685.0  4620.0  4680.0  4620.0   636812.0  4544.814941
2018-06-15  4655.0  4560.0  4635.0  4590.0   528817.0  4515.303223
2018-06-19  4520.0  4350.0  4505.0  4350.0  1078867.0  4279.208496
2018-06-20  4440.0  4315.0  4360.0  4405.0   787549.0  4333.313477
2018-06-21  4560.0  4440.0  4445.0  4495.0   543829.0  4421.849121
2018-06-22  4445.0  4290.0  4445.0  4370.0   744242.0  4298.883301
2018-06-25  4440.0  4315.0  4315.0  4440.0   335841.0  4367.744141
2018-06-26  4525.0  4360.0  4395.0  4525.0   405554.0  4451.360840
2018-06-27  4615.0  4360.0  4550.0  4360.0   628373.0  4289.045898
2018-06-28  4465.0  4310.0  4320.0  4360.0   622215.0  4289.045898
2018-06-29  4490.0  4405.0  4440.0  4490.0   360292.0  4416.930176
2018-07-02  4610.0  4480.0  4500.0  4560.0   525478.0  4485.791016
2018-07-03  4640.0  4485.0  4600.0  4530.0   539739.0  4456.279297
2018-07-04  4570.0  4435.0  4525.0  4450.0   295937.0  4377.581543
2018-07-05  4580.0  4470.0  4510.0  4540.0   434907.0  4466.116699
2018-07-06  4635.0  4545.0  4610.0  4605.0   613544.0  4530.059082
2018-07-09  4985.0  4655.0  4680.0  4920.0  1123293.0  4839.932617
2018-07-10  4980.0  4830.0  4980.0  4840.0   682302.0  4761.234375
2018-07-11  4840.0  4730.0  4765.0  4800.0   644485.0  4721.885254
2018-07-12  5005.0  4875.0  4875.0  4930.0   904090.0  4849.770020
2018-07-13  5075.0  4920.0  5075.0  5040.0  1092062.0  4957.979980
...            ...     ...     ...     ...        ...          ...
2018-11-19  3235.0  3135.0  3135.0  3235.0   598836.0  3235.000000
2018-11-20  3315.0  3155.0  3190.0  3315.0   768367.0  3315.000000
2018-11-21  3345.0  3240.0  3275.0  3345.0   887687.0  3345.000000
2018-11-22  3445.0  3265.0  3350.0  3275.0   822283.0  3275.000000
2018-11-23  3335.0  3260.0  3330.0  3310.0   597612.0  3310.000000
2018-11-26  3450.0  3330.0  3345.0  3450.0   567845.0  3450.000000
2018-11-27  3510.0  3370.0  3400.0  3485.0   798142.0  3485.000000
2018-11-28  3500.0  3435.0  3490.0  3475.0   539021.0  3475.000000
2018-11-29  3630.0  3515.0  3625.0  3515.0   936002.0  3515.000000
2018-11-30  3505.0  3365.0  3505.0  3370.0   737065.0  3370.000000
2018-12-03  3705.0  3475.0  3475.0  3705.0  1642048.0  3705.000000
2018-12-04  3680.0  3500.0  3660.0  3500.0  1127442.0  3500.000000
2018-12-05  3415.0  3325.0  3395.0  3370.0   846315.0  3370.000000
2018-12-06  3200.0  3035.0  3150.0  3035.0  1859842.0  3035.000000
2018-12-07  3175.0  3050.0  3075.0  3100.0  1248081.0  3100.000000
2018-12-10  3065.0  2970.0  3030.0  3055.0   886891.0  3055.000000
2018-12-11  3235.0  3090.0  3090.0  3175.0   902924.0  3175.000000
2018-12-12  3350.0  3245.0  3250.0  3345.0   748608.0  3345.000000
2018-12-13  3405.0  3250.0  3355.0  3320.0   832916.0  3320.000000
2018-12-14  3300.0  3235.0  3270.0  3260.0   443393.0  3260.000000
2018-12-17  3345.0  3210.0  3280.0  3300.0   545769.0  3300.000000
2018-12-18  3330.0  3230.0  3230.0  3250.0   438812.0  3250.000000
2018-12-19  3325.0  3265.0  3300.0  3320.0   427366.0  3320.000000
2018-12-20  3320.0  3210.0  3265.0  3225.0   474574.0  3225.000000
2018-12-21  3270.0  3090.0  3180.0  3270.0   941311.0  3270.000000
2018-12-24  3285.0  3240.0  3255.0  3270.0   274359.0  3270.000000
2018-12-25  3205.0  3160.0  3165.0  3165.0   347709.0  3165.000000
2018-12-26  3230.0  3115.0  3200.0  3125.0   320010.0  3125.000000
2018-12-27  3240.0  3135.0  3220.0  3135.0   662246.0  3135.000000
2018-12-28  3215.0  3125.0  3190.0  3215.0   590895.0  3215.000000

[148 rows x 6 columns]

## 檢視抓下來的資料

In [6]:
df.head()

              High     Low    Open   Close     Volume    Adj Close
Date
2016-01-04  2270.0  2175.0  2255.0  2175.0   669000.0  2079.610107
2016-01-05  2155.0  2100.0  2130.0  2110.0  1742000.0  2017.460938
2016-01-06  1965.0  1900.0  1910.0  1960.0  3020000.0  1874.039551
2016-01-07  1945.0  1815.0  1930.0  1830.0  2592000.0  1749.741089
2016-01-08  2000.0  1790.0  1800.0  1975.0  2072000.0  1888.381714